<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinite Canvas</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <form id="room-form">
        <div class="form-row">
            <input type="text" id="room" name="room" placeholder="Enter Room Name" required />
            <button type="submit">Join</button>
        </div>
    </form>
    
    <script type="module" src="/static/bundles/main.js"></script>
    <canvas id="canvas"></canvas>
</body>
</html> 